body {
    background-color: #162447;
    color: white;
}

.control-group {
    margin: 5%;
}

.greet {
    margin: 0 0 5% 0;
}

.cardBox {
    background-color: #1b1b2f;
    transition: 0.4s;
    text-align: center;
    padding: 2%;
    margin: 10%;
    border-radius: 25px;
}

.cardBox:hover {
    background-color: #1f4068;
    border-radius: 50px;
}

.form {
    text-align: center;
    padding: 0 30%;
}

#errorMessage {
    color: red;
}

strong {
    color: red;
}

.signupForm {
    text-align: center;
}

ul {
    list-style-type: none;
}

