{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Greetings!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'loginStyle.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
    <div class="cardBox">
        <div class="greet">
            <h5>Hello</h5>
            <h1 id="username">{{user.username}}</h1>
            <h5>Have a nice day!</h5>
        </div>
        <a href="{% url 'logInAndGreet:logOutAcc' %}">
            <button class="btn btn-danger" id="logoutButton">Log Out</button>
        </a>
    </div>
        
    {% else %}
        <div class="form container">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success" id="loginButton">Log In</button>
            </form>
            {% if messages %}
            {% for message in messages %}
                <p id="errorMessage">{{ message }}</p>
            {% endfor %}
            {% endif %}

            <a href="{% url 'logInAndGreet:signUpAcc' %}">
                <button class="btn btn-link" id="signupButton">Sign Up</button>
            </a>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>